<div class="px-4 py-5 my-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="logo-GG-navinha-melhorado-com-fundo.png"
    alt=""
    width="585"
    height="237"
  />
  <h1 class="display-5 fw-bold text-body-emphasis">
    Gustavo Galino ALexandre Cavalcante
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Eu sou um estudante de ADS na Facens, estou no 4º semestre e e gosto de
      jogar, ver anime, ler manga e consertar coisas.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button
        style="
          background-color: blueviolet;
          border-color: blueviolet;
          color: white;
        "
        type="button"
        routerLink="/about"
        class="btn btn-primary btn-lg px-4 gap-3"
        routerLink="/home"
      >
        Home
      </button>
      <button
        style="
          background-color: blueviolet;
          border-color: blueviolet;
          color: white;
        "
        type="button"
        class="btn btn-outline-secondary btn-lg px-4"
        routerLink="/posts"
      >
        Posts
      </button>
    </div>
  </div>
</div>
