<div class="container mt-5">
  <h1>Bem-vindo</h1>
  <p class="lead">Blog criado para o projeto blog da aula de web_FrontEnd</p>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Últimas Postagens</h5>
          <p class="card-text">Confira as postagens mais recentes do blog.</p>
          <button
            style="
              background-color: blueviolet;
              border-color: blueviolet;
              color: white;
            "
            type="button"
            class="btn btn-outline-secondary btn-lg px-4"
            routerLink="/posts"
          >
            Ver Posts
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sobre o Blog</h5>
          <p class="card-text">
            Saiba mais sobre o autor e o propósito deste blog.
          </p>
          <button
            style="
              background-color: blueviolet;
              border-color: blueviolet;
              color: white;
            "
            type="button"
            class="btn btn-outline-secondary btn-lg px-4"
            routerLink="/about"
          >
            Sobre mim
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
